article {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.img-card {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.name-card {
    display: block;
    margin: 20px 0;
    text-align: center;
    color: steelblue;
}

.list-info dt,
.list-info dd {
    display: inline-block;
}
.list-info div {
    position: relative;
}

.list-info dd {
    margin: 0;
    position: absolute;
    left: 90px;
}

.list-pages {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: center;
    gap: 10px;
}

.list-pages li {
    background-color: #eee;
    /* border: 1px solid #eee; */
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
}

.list-pages li:hover,
.list-pages li.active {
    background-color: steelblue;
    color: #fff;
}
